<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spzx.user.mapper.UserInfoMapper">
<!--    添加用户-->
    <insert id="save">
        insert into user_info(username, password, nick_name, avatar, sex, phone, memo, open_id, union_id, last_login_ip, last_login_time, status)
        values(#{username},#{password},#{nickName},#{avatar},#{sex},#{phone},#{memo},#{openId},#{unionId},#{lastLoginIp},#{lastLoginTime},#{status})
    </insert>
    <update id="update">
        update user_info
            <set>
                <if test="username != null and username != ''">
                    username = #{username},
                </if>
                <if test="password != null and password != ''">
                    password = #{password},
                </if>
                <if test="nickName != null and nickName != ''">
                    nick_Name = #{nickName},
                </if>
                <if test="avatar != null and avatar != ''">
                    avatar = #{avatar},
                </if>
                <if test="sex != null ">
                    sex = #{sex},
                </if>
                <if test="phone != null and phone != ''">
                    phone = #{phone},
                </if>
                <if test="memo != null and memo != ''">
                    memo = #{memo},
                </if>
                <if test="openId != null and openId != ''">
                    open_Id = #{openId},
                </if>
                <if test="unionId != null and unionId != ''">
                    union_Id = #{unionId},
                </if>
                <if test="lastLoginIp != null and lastLoginIp != ''">
                    last_Login_Ip = #{lastLoginIp},
                </if>
                <if test="lastLoginTime != null">
                    last_Login_Time = #{lastLoginTime},
                </if>
                <if test="status != null ">
                    status = #{status},
                </if>
            </set>
            where id = #{id}
    </update>
    <!--    根据用户名查找-->
    <select id="userRegister" resultType="com.atguigu.spzx.model.entity.h5.UserInfo">
        select id, username, password, nick_name, avatar, sex, phone, memo, open_id, union_id, last_login_ip, last_login_time, status, create_time, update_time, is_deleted
            from user_info
                where username = #{username} and is_deleted = 0
    </select>
</mapper>












