<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spzx.manager.mapper.SysOperLogMapper">

    <!--    保存操作日志-->
    <insert id="save">
        insert into sys_oper_log(title, business_type, method, request_method, operator_type, oper_name,
                                 oper_url, oper_ip, oper_param, json_result, status, error_msg)
        values (#{title}, #{businessType}, #{method}, #{requestMethod}, #{operatorType}, #{operName}, #{operUrl},
                #{operIp}, #{operParam}, #{jsonResult}, #{status}, #{errorMsg});

    </insert>
    <select id="getPageList" resultType="com.atguigu.spzx.model.entity.system.SysOperLog">
        select id, title, business_type, method, request_method, operator_type, oper_name, dept_name, oper_url, oper_ip,
        oper_param, json_result, status, error_msg, oper_time, create_time, update_time, is_deleted
        from sys_oper_log
        <where>
            <if test=" title != null and  title != ''">
                and title = #{ title}
            </if>
            <if test=" operName != null and  operName != ''">
                and oper_Name = #{ operName}
            </if>
            <if test=" createTimeBegin != null and  createTimeBegin != ''">
                and create_Time >= #{ createTimeBegin}
            </if>
            <if test=" createTimeEnd != null and  createTimeEnd != ''">
                and create_Time &lt;= #{ createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>
</mapper>



