<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spzx.manager.mapper.SysUserManageMapper">
<!--    添加用户-->
    <insert id="addSysUser">
        insert into sys_user(username, password, name, phone, avatar, description)
            values ( #{username},#{password}, #{name},#{phone},#{avatar},#{description})
    </insert>
<!--    更新用户-->
    <update id="updateSysUseById">
        update sys_user
            <set>
                <if test="username != null and username != ''">
                    username = #{username},
                </if>
                <if test="password != null and password != ''">
                    password = #{password},
                </if>
                <if test="name != null and name != ''">
                    name = #{name},
                </if>
                <if test="phone != null and phone != ''">
                    phone = #{phone},
                </if>
                <if test="avatar != null and avatar != ''">
                    avatar = #{avatar},
                </if>
                <if test="description != null and description != ''">
                    description = #{description},
                </if>
            </set>
            where id =#{id} and is_deleted = 0
    </update>
    <update id="deletedSysUserById">
        update sys_user set is_deleted = #{is_deleted} where id = #{id}
    </update>

    <!--    分页带条件查询-->
    <select id="getPageList" resultType="com.atguigu.spzx.model.entity.system.SysUser">
        select id, username, password, name, phone, avatar, description, status, create_time, update_time, is_deleted
        from sys_user
        <where>
            is_deleted=0
            <if test="keyword !=null and keyword !=''">
                and (username like concat('%',#{keyword},'%') or name like concat('%',#{keyword},'%') or phone like concat('%',#{keyword},'%'))
            </if>
            <if test="createTimeBegin !=null and createTimeEnd != ''">
                and create_time like concat('%',#{createTimeBegin},'%')
            </if>
            <if test="createTimeEnd !=null and createTimeEnd !=''">
                and update_time like concat('%',#{createTimeEnd},'%')
            </if>
        </where>
    </select>
<!--    根据 id 查询数据-->
    <select id="showSysUserById" resultType="com.atguigu.spzx.model.entity.system.SysUser">
        select id, username, password, name, phone, avatar, description
            from sys_user
            where id = #{id} and is_deleted = 0
    </select>
</mapper>