<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spzx.manager.mapper.SysUserMapper">

    <select id="getSysUserByName" resultType="com.atguigu.spzx.model.entity.system.SysUser">
        select id,
               username,
               password,
               name,
               phone,
               avatar,
               description,
               status,
               create_time,
               update_time,
               is_deleted
        from sys_user
        where username = #{username}
          and is_deleted = 0
    </select>
    <select id="getSysRoleMenu" resultType="com.atguigu.spzx.model.entity.system.SysMenu">
        /* select sm.*
             from sys_menu sm
         left join sys_role_menu sym
         on sm.id = sym.role_id
         left join sys_user_role sur
         on sym.role_id = sur.user_id
         where sur.user_id = #{userId} and is_deleted = 0 and
             sm.is_deleted = 0 and sur.is_deleted = 0 and sym.is_deleted = 0*/
        select distinct sm.*
        from sys_menu sm
                 left join sys_role_menu srm on sm.id = srm.menu_id
                 left join sys_user_role sur on srm.role_id = sur.role_id
        where sur.user_id = #{userId}
          and sur.is_deleted = 0
          and srm.is_deleted = 0
          and sm.is_deleted = 0
          and sm.status = 1
    </select>
</mapper>